<%- include('partials/header') %>

<h1>You're at the home page</h1>

<% blogs.forEach(item => { %>
    <div>
        <h2><%= item.title %></h2>
        <img src="<%= item.image %>">
        <span><%= item.created %></span>
        <p><%= item.body %></p>
        <a href="/blogs/<%= item._id %>">Read more</a>
    </div>
<% }); %>

<%- include('partials/footer') %>