<%- include('partials/header') %>

<div class="ui container text segment">
    <h1>Gundam Blog Posts</h1>
    <div class="ui divided items">
        <% blogs.forEach(item => { %>
            <div class="ui item">
                <div class="image">
                    <img src="<%= item.image %>">
                </div>
                <div class="content">
                    <h2 class="header"><%= item.title %></h2>
                    <div class="meta">
                        <span><%= item.created.toDateString() %></span>
                    </div>
                    <div class="description">
                        <p><%- item.body.substring(0, 100) + '..' %></p>
                    </div>
                    <a class="ui right floated button" href="/blogs/<%= item._id %>">
                        Read more
                    </a>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include('partials/footer') %>